* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2 {
    text-align: center;
}

section {
    margin: 5px;
    background: rgb(16,34,227);
    background: linear-gradient(32deg, rgba(16,34,227,1) 0%, rgba(165,21,196,1) 94%);
    padding-bottom: 20px;
    width: 400px;
    border: solid black 3px;
}

.container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container button {
    padding: 10px 50px;
    max-width: 50px;
}

.plus-one-class {
    font-size: 20px;
    color: black;
}