<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Roach</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header class="about">
        <nav>
            <a class="btn" href="/home">Zurück zu Home</a>
        </nav>
    <h1>Willkommen auf der About-Seite der Musikband Papa Roach!</h1>
    <p>Papa Roach ist eine amerikanische <em>Rockband</em>, die 1993 in Vacaville, Kalifornien, gegründet wurde. Die Band wurde schnell populär durch ihren unverwechselbaren Sound, der Elemente aus Rock, Alternative und Nu Metal vereint.</p>

    <p>Im Laufe ihrer Karriere haben Papa Roach zahlreiche erfolgreiche Alben veröffentlicht, darunter <em>"Infest"</em>, <em>"Lovehatetragedy"</em> und <em>"Getting Away with Murder"</em>. Ihre Songs, darunter Hits wie <em>"Last Resort"</em>, <em>"Scars"</em> und <em>"Forever"</em>, haben sich millionenfach verkauft und wurden weltweit gespielt.</p>
    
    <p>Papa Roach ist auch bekannt für ihre energiegeladenen Live-Performances und ihre engen Beziehungen zu ihren Fans. Die Band ist stolz darauf, ihren Fans authentischen und ehrlichen Rock zu bieten und sie auf der ganzen Welt zu unterhalten.</p>

    </header>
    <main></main>
    <footer></footer>
</body>
</html>