<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Roach</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header class="gallery">
        <nav>
            <a class="btn" href="/home">Zurück zu Home</a>
        </nav>
        <div>
            <img src="./public/img/images.jpeg" alt="">
        </div>
        <div>
            <img src="./public/img/Papa-Roach-Band-Dez-2014.jpg" alt="">
        </div>
        <div>
            <img src="./public/img/rock-am-ring-2020-abgesagt-jetzt-ist-es-offiziell-1004841-1.jpg" alt="">
        </div>
        <div>
            <img src="./public/img/Papa-Roach-008-1030x687-1160x665.webp" alt="">
        </div>
        <div>
            <img src="./public/img/super.jpeg" alt="">
        </div>
    
    </header>
</body>
</html>