<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Roach</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header class="home">
        <nav>
            <a class="btn" href="/about">About</a>
            <a class="btn" href="/works">Works</a>
            <a class="btn" href="/gallery">Gallery</a>
        </nav>
        <h1>Willkommen auf unserer Homepage! </h1>
        <p> Wir freuen uns, dass Sie den Weg zu uns gefunden haben. Auf dieser Seite finden Sie alle wichtigen Informationen über die Band Papa Roach, unsere Produkte und Dienstleistungen. Wir hoffen, dass Sie alles finden, was Sie suchen, und stehen Ihnen jederzeit gerne für Fragen und Anregungen zur Verfügung. Vielen Dank, dass Sie uns besuchen, und wir hoffen, Sie bald wieder bei uns begrüßen zu dürfen.</p>
        <img class="image-header" src="./public/img/Papa-Roach-Band-Dez-2014.jpg" alt="">
    </header>
    <main></main>
    <footer></footer>
</body>
</html>