<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa Roach</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header class="works">
        <nav>
            <a class="btn" href="/home">Zurück zu Home</a>
        </nav>
        <h1>Willkommen auf der Works-Seite von Papa Roach!</h1>
        <p>
            Hier finden Sie eine Auswahl deren Arbeiten, darunter Bücher, Musik und Kunst. Wir hoffen, dass Sie etwas finden, das Ihnen gefällt und dass deren Arbeiten Ihnen einen Einblick in unsere künstlerischen Fähigkeiten geben.
        </p>
        <p>
            Die Bücher bieten tiefgreifende Einblicke in unsere Gedanken, Gefühle und Erfahrungen als Musiker. Deren Ihre Musik ist eine Mischung aus Rock, Alternative und Nu Metal, die aus ihrem Leben und ihrem kreativen Schaffensprozess inspiriert ist.
        </p>
        <p> Papa Roach hat bisher zehn Studioalben veröffentlicht, darunter <em>"Infest"</em>, <em>"Lovehatetragedy"</em>, <em>"Getting Away with Murder"</em> und unsere neueste Veröffentlichung <em>"Who Do You Trust?"</em>. Unsere Kunstwerke sind Ausdruck unserer Persönlichkeiten und unserer Visionen und zeigen, wie wir die Welt um uns herum sehen.
        </p>
        <p>
        
        Wir hoffen, dass Sie unsere Arbeiten genießen und sich von unserer künstlerischen Vision angesprochen fühlen. Vielen Dank, dass Sie sich die Zeit genommen haben, uns kennenzulernen, und wir hoffen, dass Sie bald wieder vorbeischauen!</p>
</body>
</html>