section {
    background-image: url(https://images.unsplash.com/photo-1663529472395-eaeac70b4315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
    height: 100vh;
    background-position: center;
    
}
