* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    background-image:url(https://images.unsplash.com/photo-1663529472561-a6ea9e09369a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

nav {
    background-color: rgba(240, 255, 255, 0.334);
    width: 100%;
    height: 65px;
}

ul {
    display: flex;
    list-style-type: none;
    font-family: arial;
    padding: 10px;
    float: right;
}

li {
    padding: 15px;

}

a {
    color: black;
    text-decoration: none;
}

ul h1 {
    padding-right: 870px ;
    padding-top: 10px;
}