<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teufelsrochen</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Teufelsrochen Guestbook</h1>
    <form action="/add-guest-posts" method="post">
        <input name="firstname" type="text" placeholder="type in your firstname...">
        <input name="lastname" type="text" placeholder="type in your lastname...">
        <input name="email" type="email" placeholder="type in your @email...">
        <input class="text" name="text" type="text" placeholder="type in your text...">
        <input type="submit" value="Send ðŸŸ" />
    </form>
    <article>
       <% messages.forEach(guest => { %> 
        <div class="wrapper">
            <div class="name-wrapper">
                <p class="name"><%= guest.firstname %> </p>
                <p class="name"><%= guest.lastname %> </p>
             </div>
            <p class="mail-style"><%= guest.email %> </p>
            <p><%= guest.text %> </p>
        </div>
        <% }) %> 
    </article>
    <script>
    </script>
</body>
</html>