@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

p,a,figcaption {
    font-size: 1.8rem;
}
main {
    margin: 0px 5%;
}

.button {
    font-family: poppins;
    border: 3px solid rgba(255,198,24,0.28);
    border-radius: 40px 0px 40px 40px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    }

/*-------- Header -------*/

header section {
    box-shadow: 0px 2px 20px 3px rgba(0,0,0,0.57);
}

header h2 {
    font-family: poppins;
    border: 3px solid rgba(255,198,24,0.28);
    border-radius: 40px 0px 40px 40px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: rgb(0, 0, 0);
}

header h2:hover {
    background-color: #feb20054;
}    

.header_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
}

.header_nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;
}

.nav_bar:hover {
    border-bottom: 1px solid rgb(255, 166, 0);
    transform: translateY(-0.1rem);
}

.button_one_right:hover {
    background-color: #feb20054;
}

.header_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header_nav ul li a {
   padding: 5px;
}

/* ----------------- Main-First-Section --------------- */

.main_section_top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0rem 0rem 0rem;
}

.article_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article_left h2 {
    font-size: 3.6rem;
    margin: 3rem 3rem 2rem 0rem ;
    line-height: 5rem;
    max-width: 20vw;
    text-align: center;
}
.article_left h2:hover {
    transform: translateY(-0.3rem);
}

.article_left a {
    min-width: 200px;
}

.main_section_top {
    display: flex;
}

.main_section_top img {
    border-radius: 6rem;
    width: 20vw;
    box-shadow: 0px 0px 13px 1px #000000;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.main_section_top img:hover {
    transform: translatey(-0.3rem);
    box-shadow: 0px 0px 13px 1px #000000;
}

.button_left {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 1rem 10rem 1rem 10rem
}
.button_left:hover {
    background-color: #feb20054;
}

/*-------------- Main Section About Me ---------- */

.section_about_me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 22rem 5rem 22rem;
    text-align: center;
}

.section_about_me p {
    min-width: 400px ;
}

.section_about_me h1 {
    font-size: 4rem;
    line-height: 3rem;
    padding: 0 6rem 0 2rem;
}

.section_about_me span {
    color: wheat;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.992);
}

/* ----- Tech Stack Container ----- */

.header-tech-stack {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 3.6rem;
    font-family: poppins;
}

.tech-stack-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    text-align: center;
    padding-bottom: 100px;
}

.box-one {
   margin-bottom: 50px;
}

.tech-stack-container img {
    width: 30%;
    animation-name: flying;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes flying {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -5px);}
    to {transform: translate(0, 0px);}
}

.tech-stack-container figcaption {
    animation-name: text-flying;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes text-flying {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -5px);}
    to {transform: translate(0, 0px);}
}

/* ----- work experience ----  */

.career-tag {
    margin-top: 50px;
    font-size: 4.8rem;
    text-align: center;
}

.work-exp-header-left {
    grid-column: 1;
    font-size: 3.6rem;
    display: flex;
    align-items: end;
    border-bottom: 1px dotted rgb(255, 166, 0);
    justify-content: center;
}

.work-exp-container h3 {
    font-size: 2.4rem;
    margin: 10px 0px;
}

.work-exp-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 50px;
    margin-bottom: 20rem;
}

.left-area {
    grid-column: 1;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px 20px;
    color: white
}

.right-area {
    grid-column: 2 ;
    grid-row: 3;
    background-color: rgba(255, 166, 0, 0.773);
    border-radius: 20px;
    padding: 10px 20px;
}

.right-area-two {
    grid-column: 2;
    grid-row: 4;
    background-color:rgba(255, 166, 0, 0.773);
    border-radius: 20px;
    padding: 10px 20px;
}

.right-area-three {
    grid-column: 2;
    grid-row: 5;
    background-color:rgba(255, 166, 0, 0.773);
    border-radius: 20px;
    padding: 10px 20px;
}

.right-area-header {
    grid-column: 2;
    grid-row: 2;
    font-size: 3.6rem;
    display: flex;
    align-items: end;
    border-bottom: 1px dotted black;
    justify-content: center;
}


/* ----- Projekte -----  */

.project-section h4 {
    margin-top: 10rem;
    font-size: 2.4rem;
}

.project-section h2 {
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-size: 6.4rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 100px;
}

.grid-container-projects {
    position: relative;
}

.projects-container img {
    width: 100%;
    border-radius: 40px;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text-for-overlay {
    background-color: #000000bb;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 40px;
}

.text-for-overlay a {
    color: white;
}


.grid-container-projects:hover img {
    opacity: 0.1;
}

.grid-container-projects:hover .overlay {
    opacity: 1;
}