footer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: rgba(211, 211, 211, 0.23);
    padding-top: 40px;
}

footer div {
    border-top: 1px solid rgba(0, 0, 0, 0.131);
    width: 100%;
    margin: 0 5%;
}

footer div {
    padding-top: 50px;
}

.footer-chair {
    width: 508px;
    height: 327;
}

.bottom-tag {
    text-align: center;
    margin-top: 150px;
}

