*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    margin-top: 16px;
}

section {
    display: flex;
    justify-content: center;
}

.wrapper {
    border-radius: 20px;
    border: 1px solid black;
    min-height: 60vh;
    min-width: 25vw;
    background: rgb(8,0,93);
    background: linear-gradient(41deg, rgba(8,0,93,1) 1%, rgba(0,218,231,1) 100%);
    padding: 0 10px;
    color: rgb(206, 206, 206);
    box-shadow: 2px 5px 15px 5px #000000;

}

.first-part-included{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.second-part{
    margin-bottom: 10px;
}

.third-part{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.third-part input{
    margin-top: 10px;
    width: 130px;
    height: 3vh;
}

.fourth-part{
    margin-bottom: 20px;
}

.calculate-button {
    padding: 5px 20px;
    background-color: rgba(0,218,231,1);
    color: white;
    margin-bottom: 10px;
}